<div class="ammunition-chat item" data-item-id="{{_id}}" data-owner-id="{{owner}}">
    <div class="ammunition-name"><h2>{{name}}</h2></div>
    <div class="ammunition-shred">Shred: {{data.shred}}</div>
    <div class="ammunition-description">{{{data.description}}}</div>
    <div class="card-buttons">
        <button class="cqc-hit">CQC Hit</button>
        <button class="ranged-hit">Ranged Hit</button>
    </div>
</div>